.cart__item {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 1.6rem;
	align-items: center;
	justify-items: center;
}

.cart__item-img > img {
	width: 5rem;
	height: 5rem;
	border-radius: 1rem;
}

.cart__total-price {
	margin-left: 0.5rem;
	font-weight: 700;
	color: var(--color-secondary-dark);
}

.cart__btn {
	grid-column: 1 / -1;
}

.cart__item-delete {
	justify-self: end;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
}
