.product {
	max-width: 80%;
	margin: 5rem auto;
	display: grid;
	grid-template-columns: minmax(44.5rem, 1fr) 1fr;
	grid-gap: 8rem;
	align-items: center;
}

@media screen and (max-width: 64em) {
	.product {
		max-width: 90%;
		grid-template-columns: 1.4fr 1fr;
		grid-gap: 3rem;
	}
}

@media screen and (max-width: 37.5em) {
	.product {
		max-width: 100%;
		display: block;
		margin: 0;
	}
}
