.form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1.6rem;
	align-items: center;
	margin-top: 3.2rem;
}

.form > .form__control:first-child {
	padding: 1.6rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form > .form__control:first-child input {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2rem;
	border: none;
	width: 50%;
}

.form > .form__control:first-child {
	background-color: var(--color-tertiary-light);
	text-align: center;
}
.form > .form__control.invalid {
	border: 2px solid red;
}

.form > .form__control:first-child input,
.form > .form__control:first-child button {
	background-color: transparent;
}

.form > .form__control:first-child input {
	color: var(--color-secondary-dark);
	text-align: center;
	margin: 0 1rem;
}

.form > .form__control:first-child input::-webkit-inner-spin-button,
.form > .form__control:first-child input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form > .form__control:first-child input:focus {
	outline: none;
}

.form > .form__control:first-child button {
	cursor: pointer;
	border: none;
}

.form__plus-svg,
.form__minus-svg {
	fill: var(--color-primary-dark);
	transform: all 0.2s;
}

.form__plus-svg:hover,
.form__minus-svg:hover {
	fill: rgba(255, 126, 27, 0.6);
}

.form__cart-svg--white {
	margin-right: 1.5rem;
	fill: var(--color-white);
}

.form__cart-svg--white:hover {
	fill: var(--color-white);
}

.error {
	font-weight: 700;
	margin-top: 1rem;
	color: orangered;
	text-align: center;
	animation: moveToBottom 0.2s ease-in-out;
}

@media screen and (max-width: 62.5em) {
	.form {
		display: block;
	}

	.form__control:first-child {
		display: flex;
		justify-content: space-around;
		margin-bottom: 1.6rem;
	}
}

@keyframes moveToBottom {
	from {
		transform: translateY(-2rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 100%;
	}
}
